<h1>
  Hola mundo index Presto::Index
</h1>

models
<ul>
  <% @models.each do |model| %>
  <li>
     <%= model.to_s  %>
  </li>
<% end %>
</ul>

gems
<ul>
  <% @gems.each do |gem| %>
  <li>
     <%= gem.to_s  %>
  </li>
<% end %>
</ul>
