/ Small boxes (Stat box)
- content_for :content_header do
  %h1
    Dashboard
    %small Control panel
%p Modes in de app
%p= Presto::demo
%ul= render partial: "menu_li", collection: @models_list, as: :model
