<h1>Presto::Dashboard</h1>
<p>Modes in de app</p>
<p><%= Presto::demo %></p>

<ul>
  <% @models_list.each do |model| %>
    <li>
      <%= link_to  model.singularize , model_index_path(name: model.singularize) %>
    </li>
  <% end %>
</ul>


