%tr
  - klass.column_names.each do |name|
    %td= model.send(name.to_sym)
  %td
    = link_to item_path(klass, model), method: :delete, data: { confirm: "Are you sure ?" } do
      %span.glyphicon.glyphicon-trash{"aria-hidden" => "true"}
  %td
    = link_to edit_item_path(klass.to_s.downcase, model) do
      %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
