<h1>Presto::Items::index</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"> <%= @klass.to_s %> list </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3">
        <%= link_to "create new", model_new_path, class: "btn btn-primary" %>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <% @klass.column_names.each do |name|  %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @item_list.each do |model| %>
          <tr>
            <% @klass.column_names.each do |name|  %>
              <td><%= model.send(name.to_sym)  %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<ul>
</ul>

