<h1>Presto::Items::index</h1>
<p> <%= @klass.to_s %> list</p>

<%= link_to "create new", model_new_path %>
<ul>
  <% @object_list.each do |model| %>
    <li>
      <%= model  %>
      <%# <%= link_to  model.singularize , admin_model_index_path(name: model.singularize) %1> %>
    </li>
  <% end %>
</ul>

