<h1><%= @klass.to_s  %></h1>

<div class="row">
  <%= link_to "Return to #{@klass} list ", items_path(name: @klass.to_s.downcase), class: "btn btn-primary" %>
</div>

<p> Fields </p>
<ul>
  <% @item.attributes.each do |column| %>
    <li><%= "#{column[0]} == #{column[1]}" %> </li>
  <% end %>
</ul>
